.aws
.azure
.bash_history
.bash_logout
.cache/
.ccache/
.config/gcloud/
.config/TabNine/
.config/k9s/
.docker/
.fasd
.gnupg/
.histfile
.image.so
.kube/
.lesshst
.lncrawl/
.local/
.minikube/
.npm/
.p10k.zsh.zwc
.psql_history
.python_history
.rainbow_oauth
.sqlsecrets/
.ssh/google_compute_engine
.ssh/id_rsa
.ssh/oracle-vm*
.ssh/environment-
.ssh/*known_hosts*
.terminfo/
.theme_history
.tldr/
.vim/
.viminf*
.vimspector.log
.vscode-server/
.wget-hsts
.zcompdump
.zsh_history
container.training/
exercism/
go/
projects/
.sudo_as_admin_successful
.systemd-env
.terraform.d/
